{% extends "baseLogin.html" %}


{% block style %}{% endblock %}
{% block title %}Login{% endblock %}

{% block main %}

<form method="post" action="/login">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="login" name="login" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Login</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-check text-start my-3">
        <a href="/registration">
            <label class="form-check-label" for="flexCheckDefault">
                Sign up
            </label>
        </a>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>

{% endblock %}