{% extends "baseWeb.html" %}


{% block style %}{% endblock %}
{% block title %}Main{% endblock %}


{% block main %}
    
    <h1> Вы зашли на Main </h1> 
    {% for id, title in category %}
    <a href="/main/category/{{id}}">{{title}}</a>///
    {% endfor %}
    {% for id, title, info, prise, id_category, url_image in data %}
        <p>{{title}}</p> 
        <p><a href="/skin/{{id}}">кнопка</a></p>
        <p>===============================================</p> 
    {% endfor %}

{% endblock %}